{% set log_name='lit-actions' %}

[Unit]
Description=Lit Actions
After=syslog.target network.target remote-fs.target nss-lookup.target {% if pillar.get('litos_guest', False) == True %}rc-local.service lit-logging.service{% endif %}
{% if pillar.get('litos_guest', False) == True %}Requires=rc-local.service lit-logging.service{% endif %}

[Service]
Type=simple
Environment="RUST_LOG={% if log_name in pillar.logging %}{{ pillar.logging[log_name][pillar.env].level }}{% else %}{{pillar.logging.default[pillar.env].level }}{% endif %}"
ExecStart=/opt/lit/actions/bin/lit_actions --enable-observability-export
LimitNOFILE=64000
Restart=always
RestartSec=1
User=lit-actions
OOMScoreAdjust=-100
MemoryAccounting=true
MemoryHigh=22G
MemoryMax=25G

[Install]
WantedBy=multi-user.target
