{
  "type": {{ pillar['otel_service_account_key']['type'] | tojson }},
  "project_id": {{ pillar['otel_service_account_key']['project_id'] | tojson }},
  "private_key_id": {{ pillar['otel_service_account_key']['private_key_id'] | tojson }},
  "private_key": {{ pillar['otel_service_account_key']['private_key'] | tojson }},
  "client_email": {{ pillar['otel_service_account_key']['client_email'] | tojson }},
  "client_id": {{ pillar['otel_service_account_key']['client_id'] | tojson }},
  "auth_uri": {{ pillar['otel_service_account_key']['auth_uri'] | tojson }},
  "token_uri": {{ pillar['otel_service_account_key']['token_uri'] | tojson }},
  "auth_provider_x509_cert_url": {{ pillar['otel_service_account_key']['auth_provider_x509_cert_url'] | tojson }},
  "client_x509_cert_url": {{ pillar['otel_service_account_key']['client_x509_cert_url'] | tojson }},
  "universe_domain": {{ pillar['otel_service_account_key']['universe_domain'] | tojson }}
}
