[Unit]
Description=Lit OS Metrics Host 15-Minute Collection
After=network.target osqueryd.service otelcol.service
Requires=osqueryd.service otelcol.service

[Service]
Type=oneshot
Environment="LIT_LOGGING_JAEGER=1"
Environment="OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317"
ExecStart=/usr/local/bin/lit-os-metrics-host \
    --query=disk-info \
    --query=system-info \
    --query=running-process \
    --query=established-outbound \
    --query=interface-address \
    --query=docker-running-containers \
    --query=kernel-info \
    --query=uptime \
    --query=iptables \
    --resource-attribute system_context=host \
    --interval 15min
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
